/* general */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/* hides placeholder when input gets the focus - not tested */
input:focus::-webkit-input-placeholder {
    color: transparent;
}
/* FF 4-18 */
input:focus:-moz-placeholder {
    color: transparent;
}
/* FF 19+ */
input:focus::-moz-placeholder {
    color: transparent;
}
/* IE 10+ */
input:focus:-ms-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    font-style: italic;
}
/* FF 4-18 */
input:-moz-placeholder {
    font-style: italic;
}
/* FF 19+ */
input::-moz-placeholder {
    font-style: italic;
}
/* IE 10+ */
input:-ms-input-placeholder {
    font-style: italic;
}

/* kendo overrides */
.k-grid tbody tr.k-grid-edit-row td {
    vertical-align: top
}
/* https://docs.telerik.com/kendo-ui/controls/data-management/grid/appearance#hover-effect-on-table-rows */
.no-hover.k-grid tr:not(.k-state-selected):hover {
    background: none;
    color: inherit;
}
/* this is theme dependent */
.no-hover.k-grid tr.k-alt:not(.k-state-selected):hover {
    background: #f5f5f5;
}
/* position the validation error tooltip pointer to the left (instead of 50%) so that it always points to the correct field. 
   When fields are laid in columns and the error message is long this can end up with the pointer pointing to a wrong field */
.k-grid-edit-row .k-callout-n {
    left: 20px;
}   
.k-grid tr td {
    vertical-align: top;
}
.k-splitter .k-ghost-splitbar-horizontal, .k-splitter .k-splitbar-horizontal {
    width: 3px;
}
/* tool bars */
#tbMain, #spTb, #soTb {
    margin-bottom: -1px;
}

.icon-user {
    /*background-image: url('/Images.user-16x16.png');*/
    /*background: url('/Images.spicons-sprite.png') 0px 0px;*/
    background: url('/Images.sp-sprite.png') 0px 0px;
    margin-right: 2px !important;
}

/*.k-state-disabled .icon-user {*/
    /*background-image: url('/Images.user-16x16_disabled.png');*/
    /*background: url('/Images.spicons-sprite.png') 0px -16px;*/
    /*opacity: 0.5;*/
/*}*/

.icon-group {
    /*background-image: url('/Images.users-16x16.png');*/
    /*background: url('/Images.spicons-sprite.png') 0px -64px;*/
    background: url('/Images.sp-sprite.png') 0px -16px;
    margin-right: 2px !important;
}

/*.k-state-disabled .icon-group {*/
    /*background-image: url('/Images.users-16x16_disabled.png');*/
    /*background: url('/Images.spicons-sprite.png') 0px -80px;*/
    /*opacity: 0.5;*/
/*}*/

.icon-group-ext {
    /*background-image: url('/Images.users-16x16_ext.png');*/
    /*background: url('/Images.spicons-sprite.png') 0px -96px;*/
    background: url('/Images.sp-sprite.png') 0px -32px;
    margin-right: 2px !important;
}

/*.k-state-disabled .icon-group-ext {*/
    /*background-image: url('/Images.users-16x16_ext_disabled.png');*/
    /*background: url('/Images.spicons-sprite.png') 0px -112px;*/
    /*opacity: 0.5;*/
/*}*/

/* styles for show errors on editors */
.error {
    border: 1px solid #f66;
    margin-bottom: 5px;
}
.error h2 {
    background-color: #f66;
    color: #fff;
}
.error h2, .error div {
    padding: 5px;
}

/* styles for file select dialog */
#tvSelectFile, #tvSaveAs {
    height: 300px;
}

#tvSelectFile .k-sprite,
#tvSaveAs .k-sprite {
        background-image: url(/Images.fs-sprite.png);
    }

.folder {
    background-position: 0 0;
}

.file {
    background-position: 0 -16px;
}

/* -- controls inside grid editor */
/* can delete these 2 if confirm not using treeview inside grid */
.gridEditor.k-treeview .k-item {
    padding: 0px;
}
.gridEditor.k-treeview .k-state-focused {
    border-color: transparent !important;
    box-shadow: none !important;
}
.gridEditor ul li {
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
/* styles for generic form elements */
/* ================================ */
.formElement{
    clear:both;
}
.formElement .formLabel, 
.formElement .formInput {
    float: left;
    margin-bottom: 5px;
}
.formElement .formLabel {
    display: inline-block;    
    width: 120px;
    text-align: right;
    padding-right: 25px;
    padding-bottom: 7px;
    padding-top: 7px;
}
.formElement .formInput {
    width: 400px;
}
.formElement .formInput .k-checkbox-label,
.formElement .formInput .k-radio-label {
    margin-top: 7px;
}
.formInput input, .formInput textarea {
    width: 100%;
}
textarea.k-textbox {
    padding-left: 0.571em; /* to align with kendo input textbox which sets text-indent to this value. without this setting, text starts close to the border of the text area*/
    padding-right: 0.571em;
}

label.k-textbox { /* to make display only field look like kendo textbox */
    padding: .17857143em 0;
    line-height: 1.65em;
    text-indent: .571em;
    border-color: transparent;
}
.accordion {
    margin-bottom: 5px;
    border: 1px solid #eee;
}
.accordion h2 {
    padding:5px;
    background-color:#7ea700;   /* kendo theme */
    color:#fff;
    /*margin-bottom:5px;*/
}
.accordion .k-content {
    padding: 5px;
}
.no-fouc #spView,
.no-fouc #soView {
    visibility: hidden;
}

/* stops background from scrolling when dialog is open */
/* https://stackoverflow.com/questions/22257104/kendo-window-scrolling-background-window */
.no-scroll {
    overflow: hidden;
}

/* styles for secure object editor */
/* =============================== */

/* -- edit/delete/save/cancel buttons with no text */
/* https://docs.telerik.com/kendo-ui/knowledge-base/grid-icon-only-buttons */
#soGrdDacl.k-grid .k-grid-toolbar .k-grid-add,
#soGrdDacl.k-grid tbody .k-grid-edit,
#soGrdDacl.k-grid tbody .k-grid-update,
#soGrdDacl.k-grid tbody .k-grid-cancel,
#soGrdDacl.k-grid tbody .k-grid-customdelete,
#soGrdSacl.k-grid .k-grid-toolbar .k-grid-add,
#soGrdSacl.k-grid tbody .k-grid-edit,
#soGrdSacl.k-grid tbody .k-grid-update,
#soGrdSacl.k-grid tbody .k-grid-cancel,
#soGrdSacl.k-grid tbody .k-grid-customdelete {
    min-width: 0;
}

    #soGrdDacl.k-grid .k-grid-toolbar .k-grid-add .k-icon,
    #soGrdDacl.k-grid tbody .k-grid-edit .k-icon,
    #soGrdDacl.k-grid tbody .k-grid-update .k-icon,
    #soGrdDacl.k-grid tbody .k-grid-cancel .k-icon,
    #soGrdDacl.k-grid tbody .k-grid-customdelete .k-icon,
    #soGrdSacl.k-grid .k-grid-toolbar .k-grid-add .k-icon,
    #soGrdSacl.k-grid tbody .k-grid-edit .k-icon,
    #soGrdSacl.k-grid tbody .k-grid-update .k-icon,
    #soGrdSacl.k-grid tbody .k-grid-cancel .k-icon,
    #soGrdSacl.k-grid tbody .k-grid-customdelete .k-icon {
        margin: 0;
    }

#soSecurityInheritance .formElement .formLabel {
    width: 300px;
    text-align: left;
}
/* security principals tool bar */
#spView {
    position: relative; /* required for kendo ui progress to work */
}

/*#spTb .k-button,*/
#spTb .k-textbox {
    margin: 0px 0.2em; /* follow kendo tool bar, couldnt use kendo toolbar bcos mvvm binding is only at toolbar widget level not individual items on the toolbar */
}

#spTb .k-textbox {
    margin-top: -1px; /* to make the box align properly to the buttons */
}

/* security principals grid */
#spGrd .k-dirty {
    display: none; /* don't show dirty flag */
}

#spGrd .k-footer-template {
    display: none;
}

#spGrd.k-grid tr + .k-grouping-row td {
    border-top-width: 1px
}

/* security principal editor */
#spEditorError,
#soEditorError {
    margin-bottom: 5px;
}

#memberOfSection .k-listbox,
#membersSection .k-listbox {
    width: 335px;
    height: 320px;
    margin-right: 1px;
}

#notMemberOfSection .k-listbox,
#nonMembersSection .k-listbox {
    width: 300px;
    height: 320px;
}

.groupMembership label {
    font-weight: bold;
}

.groupMembership label,
.groupMembership input {
    margin-bottom: 5px;
    display: inline-block;
    width: 300px !important;
}

#spTlGroupHierarchy {
    width: 640px;
}

/* https://docs.telerik.com/kendo-ui/controls/navigation/button/overview#font-icons */
/* https://docs.telerik.com/kendo-ui/controls/navigation/toolbar/how-to/use-font-awesome-icons */
/*.fa.k-sprite,
.fa.k-sprite::before {
    font-size: inherit;
    line-height: inherit;*/
    /*font-size: inherit;
    line-height: inherit;
    width: auto;
    height: auto;
    margin-left: 0;*/
/*}*/